@using ServiceStack;
@using ServiceStack.Razor;

@{
    Layout = "_Layout";
}

@inherits ViewPage

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">About AgeReady Now</h2>
        </div>
    </div>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <p>Most often adults with elderly parents enter into caregiving with an abrupt, often medical-related, event such as a fall, stroke, or heart-attack. The caregivers are then caught between two lives: one where they respect and care for their elderly parents; and the own family life with a job, kids, and the normal demands of daily life. This can be a very stressful time for both the care giver and the care recipient.</p>
            <h4>What is "Being Prepared"?</h4>
            <p>
                Just like entering puberty or having children, caring for an elderly loved one is a predictable life-stage event that can be anticipated and planned for.
            </p>
            <h4>The AgeReady Program Can Help</h4>
            <p>
                The Age Ready Program is designed using the transtheoretical model of change, a proven model that helps people become informed, formulate a strategy, and act on a new, better behavior.
            </p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        Dr. Michael Parker<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Mike Parker is a tenured University of Alabama Professor and UA Birmingham Associate Professor. He is a Member of the Executive Board of the Center for Mental Health & Aging and the inventor of the AgeReady Program. He has completed a National Institute of Aging Post-Doctoral Fellowship at the University of Michigan and a Research Fellowship at the University of Edinburgh. He is a retired Lieutenant Colonel and was selected by the Gerontological Society of America and the John Hartford Foundation as a Geriatric Scholar. He has served on the Hartford Foundation’s Geriatric Scholar’s Selection Committee and as Mentor to Hartford Scholars and Fellows, and he is currently serving on the Leadership Board on the Forum on Religion and Spirituality with the American Society of Aging.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        Richard M. Allman, M.D.<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Richard M. Allman, MD, is the director of the Birmingham/Atlanta VA Geriatric Research, Education and Clinical Center (GRECC) and is the Parrish Endowed Professor of Medicine at the University of Alabama at Birmingham (UAB). He serves as the director of the Center for Aging and the Division of Gerontology, Geriatrics, and Palliative Care at UAB. He also serves as Director of the Deep South Resource Center for Minority Aging Research. In addition, he serves as Co-Director of the John A. Hartford Foundation-funded Southeast Center of Excellence in Geriatric Medicine (SCEGM), a career development and training program for physicians at UAB and Emory University.</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        Regina Harrell, M.D.<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Regina Harrell, MD, is an assistant professor at The University of Alabama College of Community Health Sciences. She is a physician in Department of Family Medicine and serves as medical director of Capstone Village. Dr. Harrell is board certified in internal medicine and holds a Certificate of Added Qualification in Geriatrics and Hospice and Palliative Care. Harrell graduated from Vanderbilt University with a BS in molecular biology and earned her MD degree from the University of Alabama School of Medicine. She completed her internal medicine residency and a geriatrics fellowship at Baylor College of Medicine.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        James M. Houston<br>
                        <small>Job Title</small>
                    </h3>
                    <p>James M. Houston is the founding principal, former chancellor and emeritus professor of spiritual theology at Regent College in Vancouver, British Columbia. He is the author of some forty books, including I Believe in the Creator, The Transforming Friendship, In Search of Happiness, The Heart's Desire, The Mentored Life and Joyful Exiles. He earned an M.A. at Edinburgh and a PhD at Oxford.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        Hugh Lee, J.D.<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Hugh Lee, JD, is currently the Director of the Elder Law Clinic at the University of Alabama Law School. He has spoken on the state, regional and national level on elder law issues, including Medicaid, Medicare, Guardianship & Conservatorship, Advance Planning, Consumer Fraud, Identity Theft and Foreclosure Defense, among other issues. He holds a J. D. from the Florida State University College of Law and has published widely in the elder law area.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <div class="caption">
                    <h3>
                        Johann Klemmack<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Johann Klemmack has over 10 years of experience delivering web-based services. He has an MBA from The Fuqua School of Business at Duke University and M.Eng, B.Eng from Vanderbilt University.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>